.header {
    background-color: #150067;
    height: auto;
    font-size: 14px;
    color: white;
    width: 100%;
    padding: 0px;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
span.link a {
    text-decoration: none;
    color: white;
}

span.link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img.homeIcon {
    width: 30px;
}

.leftSection {
    display: flex;
}

.rightSection {
    display: flex;
    justify-content: flex-end;
}

.home {
    align-self: center;
}

.login {
    background: #b30f3b;
    border: 2px solid #b30f3b;
    border-radius: 1px;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
}
.login:hover {
    background: #ed1650;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/*div.links > a {*/
    /*padding: 0 10px 0 10px;*/
    /*font-family: "Latam-Sans-Regular",arial,sans-serif;*/
    /*font-size: 1em;*/
    /*line-height: 100%;*/

    /*margin-right: 0;*/
    /*text-decoration: none;*/
/*}*/

/*div.links > a:hover {*/
    /*text-decoration: underline;*/
/*}*/